body{
    font-size: 19px;
    font-family: Microsoft JhengHei;
    line-height:39px;
    letter-spacing: 2px;
    background-color: #292F33;
    color: #ccc;
    transition: 0.5s;
}
body.light{
    background-color: #ffeead;
    color: #292F33;
    border: #292F33;
}
#header{
    display: flex;
    position: relative;
    height: 120px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    flex: 1;
    width: 280px;
    height: 90px;
    padding: 10px;
    margin: 10px;
}
#toggle{
    position: absolute;
    left: 5px;
    bottom: 30px;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: #ffeead;
    cursor: pointer;
}
#toggle .button{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: scale(0.7);
    transition: 0.5s;

}
#toggle.light .button{
    background-color: #ffeead;
    left: 40px;
    transition: 0.5s;
}
#toggle.light{
    background-color: #292F33;
    transition: 0.66s;
}
h1{
    display: flex;
    flex: 6;
    color:#ffeead;
    width: 280px;
    padding: 20px;
    margin: 20x;
    justify-content: center;
    text-align: center;
    align-items: center;

}
body.light h1{
    color: #292F33;
}
.right{
    flex: 1;
    width: 280px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    text-align: right;
    line-height: 22px;
}
h2{
    flex: 1;
    color: #ccc;
}
h2:hover {opacity: 0.7;}
body.light h2{
    color: #292F33;
}

.main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
h3{
    color: #ffeead;
}
body.light h3{
    color: #292F33;
}

.answer{
    margin-top: 22px;
    margin-left:22px;
    margin-right:22px;
    padding-bottom:27px;
    word-break: break-word;
}
#myImg{
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px;
    top: 10px;
    height: 80%;
    overflow: auto;
    text-align: center;
}

.close{
    position: absolute;
    top: 55px;
    right: 55px;
    color: #ffeead;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
body.light .close{
    color: #292F33;
}
.close:hover {opacity: 0.7;}

footer{
    height: 22px;
}